* { 
    font-family:sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    height: 70vh;
}

.wrapper {
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.center {
    text-align: center;

}

h1 {
    width: 100%;
    font-size: 36px;
    font-weight: bolder;
}

.button-wrapper {
    width: 40%;
    display: flex;
    justify-content: center
}

.hidden {
    display: none;
}

.dangerzone {
    color: red;
    font-style: italic;
}

button {
    background-color: #24a0ed;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px;
}

ul li {
    list-style-type: none;
}

ol {
    
    border:2px, solid, turquoise;
    width:70%;
}
ol li { 
    background: rgba(36, 160, 237, .5);
    padding: 5px; 
}
ol li:nth-child(odd) {
    background: white; 
}

h3 {
    font-size: 28px;
    margin: 0;
}